.custom-checkbox-uncheck {
    background: url('../images/radio.png') no-repeat 0px 0px;
    clear: left;
    display: block;
    float: left;
    height: 21px;
    padding: 0 5px 0 0;
    width: 22px;
    cursor: pointer;
}
.custom-checkbox-check {
    background: url('../images/radio.png') no-repeat 0 -41px;
    clear: left;
    display: block;
    float: left;
    height: 21px;
    padding: 0 5px 0 0;
    width: 22px;
    cursor: pointer;
}